<div class="container mt-3">
    <div class="row gy-3">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">
                    Password generator
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="card-title">Configuration</h6>
                        <p class="card-text">
                            Select options and click 'generate'
                        </p>
                        <form [formGroup]="configForm" (ngSubmit)="onGenerate()">
                            <div class="mb-3">
                                <label for="length" class="form-label">Password length</label>
                                <input type="number" class="form-control" id="length"
                                    [ngClass]="{ 'is-invalid': !length?.valid }"
                                    formControlName="length"
                                    aria-describedby="lengthInvalidHelp" required>
                                <div id="lengthInvalidHelp" class="invalid-feedback">
                                    Please set the length of the password. Min 8, max 48 characters.
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" formControlName="includeUppercase" id="includeUppercase"/>
                                <label for="includeUppercase">Include upper case letters</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" formControlName="includeLowercase" id="includeLowercase"/>
                                <label for="includeLowercase">Include lower case letters</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" formControlName="includeNumbers" id="includeNumbers"/>
                                <label for="includeNumbers">Include numbers</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" formControlName="includeSpecials" id="includeSpecials"/>
                                <label for="includeSpecials">Include special characters</label>
                            </div>
                            <div *ngIf="configForm.errors?.['atLeastOne']" id="optionsInvalidHelp" class="invalid-feedback d-block mb-3">
                                Please include at least one character class.
                            </div>
                            <button class="btn btn-primary" [disabled]="!configFormEnabled || !configForm.valid">Generate</button>
                        </form>
                    </li>
                    <ng-template #passwordDisplay let-password>
                        <div class="p-2 mb-2 position-relative bg-body-tertiary darker-bg-hover rounded">
                            <pre class="m-0">{{password}}</pre>
                            <button (click)="copyToClipboard(password)" class="btn position-absolute top-0 end-0" title="Copy"><i class="bi bi-copy"></i></button>
                        </div>
                    </ng-template>
                    <li *ngIf="actualPassword" class="list-group-item">
                        <h6 class="card-title">Password</h6>
                        <ng-container *ngTemplateOutlet="passwordDisplay; context: {$implicit: actualPassword}"/>
                    </li>
                    <li *ngIf="passwordHistory.length > (actualPassword ? 1 : 0)" class="list-group-item">
                        <h6 class="card-title">History</h6>
                        <ng-container *ngFor="let password of passwordHistory; index as i">
                            <ng-container *ngIf="i >= (actualPassword ? 1 : 0)">
                                <ng-container *ngTemplateOutlet="passwordDisplay; context: {$implicit: password}" />
                            </ng-container>
                        </ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div #mainToast class="toast" role="alert" aria-live="polite" aria-atomic="true">
        <div class="toast-body">
            {{toastMessage}}.
        </div>
    </div>
</div>
