<div class="container mt-3">
    <div class="row gy-3">
        <div class="col-3">
            <div class="card">
                <h5 class="card-header">
                    CIDR Converter
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Convert CIDR notations to netmasks and vise versa.
                    </p>
                    <a href="/cidr-converter" class="btn btn-primary">Goto</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-header">
                    Base Converter
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Convert text to base32, base58 or base64 and vise versa.
                    </p>
                    <a href="/base-converter" class="btn btn-primary">Goto</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-header">
                    Password generator
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Generate secure random passwords.
                    </p>
                    <a href="/password-generator" class="btn btn-primary">Goto</a>
                </div>
            </div>
        </div>
    </div>
</div>
